<!DOCTYPE html>
<html>
    
    <head>
        <title> Network Evaluation</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="/css/main.css">-->
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/libs/lang.sp.js"></script>
    </head>
    <body>
        <div clas="jumbotron">
            <div clas="container"> Esto va en el jumbotron</div>
        </div> <!--class=jumbotron-->
        <div clas="container">
            <div class="row">
                <div class="col-md-12">
            <ul>
                
                    <% users.forEach (function (user) {%>
                        <li>  Usuario: <%= user.username %>
                        <!--<div class = "user_mon">-->
                            <input type="button" class="btn_user_mon" id="btn_user_<%=user.username%>" value="show/hide user details">
                            <div class="user_profile" id="up_<%=user.username%>" style="display:none">
                                <img src="/img/login.png" alt="No photo available" height="42" width="42">
                                Nombre: <%=user.firstName%>
                                Apellidos: <%=user.lastName%>
                                role: <%=user.role%>
                                email: <%=user.email%>
                                <form action="/monitor/users/<%=user.username%>/pwd" method="post">
                                    New password<input type="password" name="password" value="">
                                    Verify password<input type="password" name="verify_password" value="">
                                    <input type="submit" value="Change password">
                                </form>
                                <div id="message"><h1 class="text-center error-message"></h1></div>
                            </div>
                            <% if (user.scores != null) { %>
                                <ul>
                                <% user.scores.forEach (function (score) {%>
                                    <li> <%=score.challenge_id%></li>
                                        <a href="/challenges/<%=score.challenge_id%>/submissions/<%=score.first%>" target="_blank"> First</a>
                                        <a href="/challenges/<%=score.challenge_id%>/submissions/<%=score.best%>" target="_blank"> Best</a>
                                        <a href="/challenges/<%=score.challenge_id%>/submissions/<%=score.last%>" target="_blank"> Last</a>
                                        Puntuación: <%=score.score%></li>
                                        Num. subidas: <%=score.num_attemps%></li>
                                        Intentos hasta 10: <%=score.ok_after_attemps%>
                                        IP: <%=score.ip%>
                                        <input type="button" class="btn_submissions" id="btn_submissions_<%=score._id%>" value="show/hide submissions">
                                        <div class="challenge_submissions_list" id="csl_<%=score._id%>" style="display:none">
                                            <% var i=0; %>
                                            <ul>
                                                <% score.submissions.forEach(function (s_id){ %>
                                                    <a href="/challenges/<%=score.challenge_id%>/submissions/<%=s_id%>" target="_blank"> Submission <%=i++%></a>
                                                <% }); %>
                                            </ul>
                                        </div>
                                <% }); %>
                                </ul>
                            <% } %>
                        <!--</div>--> <!--class="user_mon"-->
                        </li>
                    <% }); %>
                    </ul>

                </div>
                <div class="col-md-4">
                    dsdfsf
                </div>
            </div>
            
        </div>
                
        <script>
            $(".btn_user_mon").click(function(){
                var username = $(this).attr("id").replace("btn_user_","");
                $("#up_" + username).toggle();
            });
            $(".btn_submissions").click(function(){
                var submission_id = $(this).attr("id").replace("btn_submissions_","");
                $("#csl_" + submission_id).toggle();
            });
            
        </script>
    </body>
</html>
        